<h1><%= @team.name %></h1>

<p>Score: <%= content_tag :b, @team.score %></p>

<h3>Buspreneurs</h3>
<ul>
  <%= render @team.buspreneurs %>
</ul>

<p>
  <%= render @team.investments %>
</p>
<p>Total: <%= content_tag :b, @team.funding %>
