<h1>Welcome To Your Dashboard, Bro.</h1>

<div class="component-box">
  <% if current_user.team_status.nil? %>
    <h2>Pick a team or <%= link_to 'Create One', "teams/new" %></h2>
  <% end %>  

  <% if current_user.team && current_user.team.pending_approvals.present? %>
     <% current_user.team.pending_approvals.each do |approval_request_user| %>
      <h3>New Teammate Pending Approval for <%= approval_request_user.team.name %>: <%= approval_request_user.name %> 
        <%= link_to 'Approve', controller: "users", action: "team_approval_confirm", user_id: approval_request_user.id %></h3>
    <% end %>  
  <% end %>  

  <%= render 'team_ranking' %>
</div>
