<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>The Game | Startup Bus 2014</title>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <header class="span12">
        <nav class="clearfix">
          <div class="nav-links">
          <% if omniauthable_signed_in? %>
            <span class="glyphicon glyphicon-user"></span>
            Signed In As <%= current_omniauthable.name %>.
              <!-- <span>Logged in as <#%= current_omniauthable.name %>.</span> -->
            Not You? <%= link_to "Sign Out", destroy_omniauthable_session_path, :method => :delete %>
          <% else %>
              <!-- <#%= link_to "Sign in with Twitter", omniauthable_omniauth_authorize_path(:twitter) %> -->
              <%= link_to "Sign In With Facebook", omniauthable_omniauth_authorize_path(:facebook) %>
          <% end %>
        </div>
      </nav>
    </header>

    <div id="main" class="span12">
      <div class="well">
        <p class="alert alert-success"><%= notice %></p>
        <p class="alert alert-danger"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
        </div>
    </div>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
